bin/
obj/

*.user
*.suo
*.userosscache
*.sln.docstates

.idea/
*.sln.iml

.vscode/

*.log

.DS_Store
Thumbs.db

*.nupkg
*.snupkg

.env

storage/

appsettings.Development.json

Migrations/*Designer.cs

publish/

*.tmp
*.temp